doctype html
html
  head
    title Front Page
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css")
    meta(charset="utf-8")

    style.
      .block{
        height: 400px;
        overflow-y: scroll;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        margin: 12px;
        background-color: #F5F5F5;
      }
      .block p{
        margin: 0 !important;
        margin-top: 8px !important;
      }
      .block ul{
        margin: 0;
        padding: 0;
      }
      .block li{
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .block a{
        text-decoration: none;
        color: #000;
        display: block;
        padding: 10px 8px;
      }
      .block .desc{
        color: gray;
        font-size: .8em;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
      .block a:visited{
        color: gray;
      }
      .block a:hover{
        background-color: red;
        color: #FFFFFF;
      }
      .block a:hover .desc{
        color: #F5F5F5;
      }
      .block::-webkit-scrollbar{
        background-color: #DDD;
        width: 4px;
      }
      .block::-webkit-scrollbar-thumb{
        background-color: rgba(255, 0, 0, 0.5);
      }
      .title{
        font-size: 24px;
        margin: 0;
        margin-left: 12px;
        margin-bottom: 16px;
      }
      .container{
        width: 80%;
        margin: 0 auto;
      }
      .post{
        margin-bottom: 30px;
      }
      .slogan{
        font-size: 1em;
        margin-bottom: 30px;
      }
      .slogan a{
        text-decoration: none;
        color: #000;
      }
      .text-center{
        text-align: center;
      }
  body
    .text-center
      h1 Front Page
      .slogan 
        a(href="https://github.com/djyde/front") Hackable frontpage for hackers.
    .pure-g.container
      
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3.post
        .title 稀土·掘金
        .block#xitugold
          ul
            a(v-repeat="lists", href="{{link}}", target="_blank")
              li {{title}}
              p.desc {{description}}

      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3.post
        .title 36Kr Next
        .block#next
          ul
            a(v-repeat="lists", href="{{link}}", target="_blank")
              li {{title}}
              p.desc {{description}}
                      
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3.post
        .title V2EX
        .block#v2ex
          ul
            a(v-repeat="lists", href="{{link}}", target="_blank")
              li {{title}}

      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3.post
        .title Hacker News
        .block#hackernews
          ul
            a(v-repeat="lists", href="{{link}}", target="_blank")
              li {{title}}

      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3.post
        .title 开发者头条
        .block#toutiao
          ul
            a(v-repeat="lists", href="{{link}}", target="_blank")
              li {{title}}
              p.desc {{author.name}}

  script(src="bower_components/vue/dist/vue.min.js")
  script(src="bower_components/qwest/qwest.min.js")
  script(src="js/base.js")
